
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

#message {
  color: #ff6b00;
}

.nav {
  z-index: 10;
  position: fixed;
  top: 10px;
  right: 50px;
}

.hamburger.hide {
  display: none;
}

.menu_mobile.active {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #3c3a39;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 50px;
}

.menu_list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  padding: 0;
}

.menu_link {
  border-bottom: 2px solid #6f6c6b;
  display: block;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 2rem;
  color: #fff5e1;
}

.envelope {
  display: none;
}

i.close {
  font-size: 24px;
  color: white;
  display: none;
  cursor: pointer;
  filter: invert(0);
}

i.close.show {
  display: flex;
  color: #be9595;
}

@media only screen and (min-width: 350px) {
  /* navbar styles */
  .navbar {
    padding: 1rem 1.5rem;
    background: #3c3a39;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar a {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }

  .menu_mobile {
    display: none;
  }

  /* headline styles */
  .headline {
    background-image: url(Images/Group.png);
    background-position-y: -10%;
    background-color: #1c1a19;
    background-position: right bottom;
    background-repeat: no-repeat;
    max-width: 100%;
  }

  .introduction {
    text-align: left;
    padding: 100px 20px;
  }

  .headline h1 {
    color: #ff6b00;
    font-family: "Crete Round", sans-serif;
    font-size: 44px;
    line-height: 64px;
    letter-spacing: 0.37px;
    width: 230px;
  }

  .headline h4 {
    width: 327px;
    height: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff5e1;
  }

  .headline p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin-top: 10px;
  }

  /* works section */
  .grid-container {
    max-width: 1250px;
    padding: 10px;
    margin-bottom: 50px;
  }

  div.projects {
    width: 100%;
    margin: 30px auto 20px auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-container h2 {
    color: #1c1a19;
    font-family: "Crete Round", sans-serif;
    font-size: 40px;
    line-height: 52px;
    height: 83px;
    margin-top: 100px;
  }

  .devider1 {
    margin-bottom: 70px;
  }

  .card-body h5 {
    display: flex;
    justify-content: flex-start;
    color: #091e42;
    font-family: "Crete Round", sans-serif;
    font-size: 32px;
    line-height: 44px;
    height: 36px;
  }

  .works {
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    max-width: 500px;
    height: 307px;
  }

  .card-body p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #091e42;
  }

  .card-body ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    height: 40px;
    background: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  }

  .css {
    padding: 10px 12px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }

  .css:hover,
  .css:focus {
    background-color: #333;
    color: #fff;
  }

  .card-body-button {
    background: #ff6b00;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 12px;
    height: 48px;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-weight: 700;
    font-size: 17px;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* card section */

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    gap: 12px;
    background-image: url(Images/backgroundImg.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .featureImg {
    width: 500px;
  }

  .card h5 {
    width: 295px;
    height: 81px;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 20px;
  }

  .card p {
    width: 286px;
    height: 99px;
    font-family: "Inter", sans-serif;
    line-height: 25px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .card ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3px;
    height: 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: "Inter", sans-serif;
    color: #fff;
  }

  .list {
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    padding: 10px 6px;
    flex: none;
    flex-grow: 0;
    transition: all 0.5s ease-out;
  }

  .list:hover,
  .list:focus {
    background-color: #fff;
    color: #333;
  }

  .card-button {
    background: #ff6b00;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 17px;
    width: 329px;
    order: 3;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: none;
  }

  /* about section */
  .about {
    display: grid;
    background-image: url(Images/Group1.png);
    background-color: #1c1a19;
    justify-content: center;
    text-align: left;
    padding: 100px 55px;
    gap: 24px;
    background-position: right bottom;
    background-size: 140px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 100px;
    padding-bottom: 200px;
  }

  .about h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6b00;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 88px;
    letter-spacing: 0.37px;
  }

  .about p {
    display: flex;
    justify-content: center;
    color: #f4f5f7;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .about-button {
    width: 156px;
    height: 48px;
    background: #ff6b00;
    border: none;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .about-button:hover {
    background: #f4f5f7;
    color: #f55800;
  }

  /* skills section */
  .skill {
    display: grid;
    justify-content: center;
    gap: 24px;
    background: #1c1a19;
    order: 3;
    color: #fff;
    padding-bottom: 79px;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
  }

  .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 80px 24px 0 24px;
    gap: 10px;
    width: 100%;
  }

  .skills {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skills img {
    width: 18px;
    height: 18px;
  }

  .devider2 {
    flex-direction: row;
    align-items: center;
    position: relative;
    background: #1c1a19;
    justify-content: space-around;
    width: 100%;
    display: none;
  }

  .contact-form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    text-align: center;
    gap: 24px;
    height: 300px;
  }

  .contact-form img {
    margin-top: 50px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    gap: 20px;
    order: 2;
  }

  fieldset:hover {
    transform: translate(10px);
  }

  textarea {
    font-style: italic;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 24px;
    background-image: url(Images/Container.png);
    width: 306px;
    height: 114px;
    border: none;
    margin-top: 10px;
  }

  .button:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  textarea:hover {
    border: 1px solid #ff6b00;
    background-image: url(Images/Icon-ResizerHandle.png);
    background-repeat: no-repeat;
    mix-blend-mode: normal;
  }

  input {
    width: 327px;
    height: 48px;
    border: none;
    padding-left: 10px;
    border-bottom: 1px solid #dbd8d7;
  }

  input.button {
    background: #ff6b00;
    padding: 12px;
    width: 131px;
    color: #fff;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    font-weight: 700;
    order: 3;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .contact-form ul {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 43px;
  }

  img.footer {
    display: flex;
    justify-content: center;
    height: 1px;
  }

  .social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-block: 30px;
  }

  #menu_bar img {
    right: 27%;
    left: 16.67%;
    height: 2px;
    width: 17px;
    border: 1px solid white;
    margin-bottom: 3px;
  }

  #image-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 50px;
  }
}

/* popup section */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: rgba(193, 199, 208, 0.9);
  z-index: 10;
}

.popup-container {
  font-family: 'Inter', sans-serif;
  padding: 20px;
  width: 90%;
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 11;
  max-height: 98vh;
  border-radius: 10px;
  margin: 20px auto;
  margin-bottom: 20px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tools-li {
  border: 1px solid #dfe1e6;
  padding: 5px 10px;
  font-size: 13px;
  margin: 10px 5px;
}

.top-header-p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 47%;
  height: 48px;
  color: #fff;
  background: #ff6b00;
  border: none;
  padding: 12px;
  font-size: 15px;
}

.hide {
  display: none;
}

.closePop {
  cursor: pointer;
}

button:hover {
  border: 1px solid #ff6b00;
  background-color: #ffff;
  color: #f55800;
}

@media only screen and (min-width: 768px) {
  /* headline styles */
  section.headline {
    background-image: url(Images/Illustration-header@2x.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 580px;
    margin-bottom: 80px;
  }

  .menu_list {
    gap: 5px;
  }

  .menu_mobile {
    display: flex;
    flex-direction: column;
    position: static;
    gap: 20px;
    width: auto;
    padding: 100px;
    height: auto;
  }

  #image-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
  }

  .introduction {
    position: relative;
    padding: 200px 20px;
  }

  .title-header {
    max-width: 400px;
    position: absolute;
    left: 7rem;
  }

  .nav img {
    width: 20px;
    height: 15px;
    cursor: pointer;
  }

  ul.menu_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 110px;
    font-size: 15px;
    transition-property: font-size;
  }

  .menu_link {
    border-bottom: none;
  }

  .envelope {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .menu_link:hover {
    font-size: 26px;
  }

  article.grid-container {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    max-width: 1200px;
  }

  article.grid-container h2 {
    display: flex;
    align-items: center;
    margin-top: 0 !important;
  }

  div.devider1 {
    width: 794px;
    height: 0;
  }

  div.projects {
    max-width: 1250px;
    margin: -31px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
  }

  .featureImg {
    width: 650px;
    transition-property: width;
    transition-duration: 2s;
  }

  .featureImg:hover {
    width: 700px;
  }

  img.devider1 {
    margin-top: 44px;
    margin-bottom: 82px;
    width: 600px;
    margin-left: 10px;
  }

  .containers {
    margin-bottom: 20px;
    height: auto;
    position: static;
  }

  .containers-body {
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-content: flex-start;
    margin: 10px auto;
    height: 100%;
    padding: 10px;
  }

  div.title {
    display: flex;
  }

  .social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  section.skill {
    display: flex;
    justify-content: center;
    gap: 165px;
  }

  ul.frame {
    align-items: flex-start;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 50px 0;
    gap: 24px;
    max-width: 1200px;
    margin: 100px auto;
    justify-content: space-between;
  }

  .footer {
    width: 100%;
    margin-bottom: 30px;
  }

  section.contact-form p {
    width: 328px;
    text-align: left;
  }

  fieldset {
    display: flex;
    align-items: flex-start;
  }

  input {
    display: block;
    width: 100%;
  }

  label {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  button.card1-button {
    width: 393px;
  }

  button.caerd1-button:hover {
    background-color: #ff6b00;
    border: 1px solid white;
  }

  section.about {
    background-image: url(Images/desktopImg/illustration-about\me.svg);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: right;
  }

  section.about h2 {
    display: block;
  }

  section.about p {
    width: 35%;
  }

  .navbar {
    height: 50px;
  }

  .navbar a {
    margin-left: 35px;
  }

  .navbar h1 {
    margin-left: 60px;
  }

  .navbar h1:hover {
    transform: rotateY(180deg);
  }

  button.card4-button {
    display: none;
  }

  button.card3-button {
    display: none;
  }

  .devider2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background: #1c1a19;
    justify-content: space-around;
    width: 100%;
  }

  .middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    font-family: "Inter", sans-serif;
  }

  .buttonGroup {
    gap: 10px;
  }

  .buttonGroup_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 140px;
    color: #fff;
    background: #ff6b00;
    font-family: "Inter", sans-serif;
    border: none;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
  }

  .btn_icon:hover {
    display: none;
  }

  .buttonGroup_button:hover {
    font-size: 13px;
  }

  .tools {
    margin-bottom: 20px;
  }
}
