
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* navbar styles */
.navbar {
  width: 100%;
  height: auto;
  padding: 10px 12px;
  left: 0%;
  right: 0%;
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  flex-wrap: wrap;
  margin-right: 100px;
}

.navbar a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 10px;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 10px;
  text-decoration: none;
}

.navbar nav {
  align-self: flex-end;
}

.navbar img {
  display: flex;
  right: 27.67%;
  left: 16%;
  height: 2px;
  width: 17px;
  border: 1px solid #fff;
  margin-bottom: 3px;
  flex-grow: 0;
  order: 0;
  flex-direction: row;
}

#bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 2px 0 2px 10px;
}

#bar img {
  display: flex;
  right: 27%;
  left: 16.67%;
  height: 2px;
  width: 17px;
  border: 1px solid white;
  margin-bottom: 3px;
}

/* headline styles */
.headline {
  overflow: hidden;
  background-image: url(Images/Group.png);
  background-position-y: 120%;
  background-color: #1c1a19;
  display: flex;
  justify-content: center;
  text-align: left;
  height: auto;
  width: 100%;
  padding: 161px 24px;
  gap: 12px;
  background-position: right bottom;
  background-size: 140px;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
}

.headline h1 {
  color: #ff6b00;
  width: 320px;
  height: 5px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 200;
  font-size: 44px;
  line-height: 64px;
  letter-spacing: 0.37px;
  flex: none;
}

.headline h4 {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff5e1;
  flex: none;
  flex-grow: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.headline p {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.image-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  gap: 18px;
}
/* works section */
.grid-container {
    display: grid;
    grid-template-rows:repeat(auto-fill, );
    row-gap: 20px;
    justify-content: center;
    align-content: center;
    
}
.grid-container h1 {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    color: #1C1A19;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    flex: none;
    order: 0;
    flex-grow: 0;
    height: 83px;
    grid-row-start: 1;
    margin-top: 100px;
    
}
.devider1 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.image {
  background-image: url("Images/FeatureImg.png");
  width: 327px;
  height: 237px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 70px;
}
.card-body h5 {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  color: #091E42;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  flex: none;
  order: 0;
  flex-grow: 0;
  height: 36px;
}
.works {
  display: grid;
  justify-content: center;
  align-content: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 327px;
  height: 307px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.card-body p {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.card-body ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 314px;
  height: 40px;
  background: #FFFFFF;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091E42;
}
.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 55px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #8993A4;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 67px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #8993A4;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.bootstrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #8993A4;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #8993A4;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.card-body button {
  background: #FF6B00;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 12px;
  gap: 10px;
  width: 135px;
  height: 48px;
  flex: none;
  order: 3;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}
/* card section */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 400px;
  margin-top: 55px;
  gap: 12px;
  background-image: url(Images/backgroundImg.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  
}
.card h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 80px;
}
.card p {
  width: 286px;
  height: 99px;
  font-family: 'Inter', sans-serif;
  line-height: 25px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.card ul {
  display: flex;
  flex-direction: row; 
  gap: 12px;
  width: 247px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}
.list1 {
  width: 67px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.list2 {
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.list3 {
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.card button{
  background: #FF6B00;
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 17px;
  width: 329px;
  flex: none;
  order: 3;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}
/* about section */
.about {
  display: grid;
  background-image: url(Images/Group1.png);
  background-color: #1c1a19;
  justify-content: center;
  text-align: left;
  padding: 161px 24px;
  gap: 24px;
  background-position: right bottom;
  background-size: 140px;
  background-repeat: no-repeat;
  position: relative;
}
.about h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FF6B00;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.about p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #F4F5F7;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.about button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 156px;
  height: 48px;
  background: #FF6B00;
  flex: none;
  order: 2;
  flex-grow: 0;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  position: relative;
}
/* skills section */
.skill {
  display: grid;
  justify-content: center;
  gap: 24px;
  left: calc(50% - 329px/2);
  background: #1C1A19;
  order: 3;
  color: #FFFFFF;
}
.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 100px;
}
.frame1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
.frame2 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  line-height: 43px;
  gap: 8px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
}
.devider2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background: #1C1A19;
  justify-content: space-around;

}



